.dot{
    height: 200px;
    width: 200px;
    background-color: #111111;
    border-radius: 100%;
    display: inline-block;
}

.block{
  /*  height:200px;
    width:200px;
    border-radius: 100%;
    display: -webkit-inline-box*/
    text-align: center;
    padding: 20px;
}
